.btn {
	display: inline-block;
	width: auto;
	padding: 6px 23px;
	font-weight: bold;
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
	text-decoration: none;
	cursor: pointer;
	border-width: 2px;
	border-color: transparent;

	&--nav {
		font-weight: 700 !important;
		font-size: 16px;
		padding: 6px 23px !important;
	}

	&--primary {
		background-color: $orange;
		color: white;

		&:hover {
			background-color: darken($orange, 10%);
		}
	}

	&--secondary {
		background-color: transparent;
		color: $orange !important;
		border: 2px solid $orange !important;

		&:hover {
			color: white !important;
		}
	}
}
