.carousel {
	position: relative;

	&__inner {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding: 40px;

		@include min-desktop {
			padding: 40px 60px;
		}

		@include min-large {
			padding: 40px 140px;
		}
	}

	&__header {
		font-size: em(24);
		color: #5d6771;
		text-align: center;

		@include min-tablet {
			font-size: em(38);
		}

		@include min-desktop {
			text-align: left;
			margin-bottom: 30px;
		}
	}

	&__item {
		position: absolute;
		opacity: 0;
		margin-bottom: 40px;
	}

	&__content {
		@include clear-fix;
	}

	&__thumbnail {
		background-repeat: no-repeat;
		background-position-x: center;

		&--item1 {
			height: 300px;
			width: 100%;
			background-image: url('../images/carousel/step1_image_425.png');

			@include min-tablet {
				height: 300px;
				background-position-x: center;
				background-image: url('../images/carousel/step1_image_768.png');
			}
		}

		&--item2 {
			height: 300px;
			width: 100%;
			background-image: url('../images/carousel/step2_image_425.png');

			@include min-tablet {
				height: 300px;
				background-image: url('../images/carousel/step2_image_768.png');
			}
		}

		&--item3 {
			height: 300px;
			width: 100%;
			background-image: url('../images/carousel/step3_image_425.png');

			@include min-tablet {
				height: 300px;
				background-image: url('../images/carousel/step3_image_768.png');
			}
		}

		@include min-desktop {
			width: 329px;
			background-size: contain;
			float: left;
		}
	}

	&__copy {
		@include min-tablet {
			width: 80%;
			margin: 0 auto;
		}

		@include min-desktop {
			width: 53%;
			float: left;
			margin-left: 30px;
			margin-top: 5px;
		}

		h2 {
			font-size: em(24);
			color: #8e959b;
			font-weight: 100 !important;
			margin-bottom: 12px;
			text-align: center;

			@include min-tablet {
				font-size: em(34);
				text-align: left;
			}
		}

		p {
			font-size: em(14);
			color: #5d6771;
			text-align: center;
			margin-bottom: 20px;

			@include min-tablet {
				font-size: em(18);
				text-align: left;
			}

			a {
				color: inherit;

				&:hover {
					border-bottom: 1px solid #5d6771;
				}
			}
		}
	}

	&__step {
		display: none;

		@include min-tablet {
			display: block;
			font-size: em(22);
			font-weight: 700px;
			margin-bottom: 24px;
			text-transform: uppercase;

			&--orange {
				color: $orange;
			}

			&--blue {
				color: $blue;
			}

			&--green {
				color: #00b189;
			}
		}

		@include min-desktop {
			position: relative;

			&::before {
				content: '-------';
				position: absolute;
				left: -80px;
				top: 0;
				width: 100px;
				height: 10px;
				letter-spacing: 2px;
			}

			&::after {
				content: '\2022';
				position: absolute;
				left: -21px;
				top: -4px;
				font-size: em(22);
				width: 100px;
				height: 5px;
				letter-spacing: 2px;
			}
		}
	}

	&__control {
		color: #c4c6c9;
		cursor: pointer;
		display: none;
		font-size: 100px;
		height: 50px;
		line-height: 0;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		text-align: center;
		z-index: 10;

		@include min-tablet {
			font-size: 200px;
		}

		&.prev {
			left: 0.5%;
		}

		&.next {
			right: 0.5%;
		}

		&:hover {
			color: #aaa;
		}
	}

	&__indicators {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 2%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 10;

		li {
			display: inline-block;
			margin: 0 5px;
		}
	}

	&__bullet {
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 80px;
		height: 20px;
		line-height: 0;
	}
}

.carousel-open:checked + .carousel__item {
	position: static;
	opacity: 100;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
	display: block;
}

#carousel-1:checked ~ .control-1 ~ .carousel__indicators li:nth-child(1) .carousel__bullet,
#carousel-2:checked ~ .control-2 ~ .carousel__indicators li:nth-child(2) .carousel__bullet,
#carousel-3:checked ~ .control-3 ~ .carousel__indicators li:nth-child(3) .carousel__bullet {
	color: #c4c6c9;
}
