.mobile {
	&--hidden {
		@include max-tablet {
			display: none;
		}
	}
}

.tablet {
	&--hidden {
		@include min-tablet {
			display: none;
		}
	}

	&--show {
		display: none;

		@include min-tablet {
			display: inline-block;
		}
	}
}

.desktop {
	&--show {
		display: none;

		@include min-desktop {
			display: inline-block;
		}
	}
}
