// Add your styles here

// prettier-ignore
/* stylelint-disable */

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v15-latin-regular.eot');
	src:
 local('Open Sans Regular'),
 local('OpenSans-Regular'),
	url('../fonts/open-sans-v15-latin-regular.eot?#iefix')
	format('embedded-opentype'),
	url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
	url('../fonts/open-sans-v15-latin-regular.woff') format('woff'),
	url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'),
	url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg');
}
/* stylelint-enable */
@import '~reset-css/reset.css';
@import './modules/utility/variables';
@import './modules/utility/mixins';
@import './modules/utility/helpers';
@import './modules/components/button';
@import './modules/components/carousel';
@import './modules/layout/global';
@import './modules/layout/layout';
@import './modules/layout/header';
@import './modules/layout/nav';
