html,
body {
	font-size: 1em;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

html {
	min-height: 100%;
}

.container {
	&--bg-grey {
		background-color: $bg;
	}

	&--padding {
		padding-left: 20px;
		padding-right: 20px;
	}
}
