.header {
	background-color: $bg;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	@include max-tablet {
		padding: 20px 0 40px;
	}

	@include min-tablet {
		width: $tablet-width;
	}

	@include min-desktop {
		width: $desktop-width;
	}

	@include min-large {
		width: $large-width;
	}

	&__hero {
		background-image: url('../images/hero-sm-mobile.jpg');
		height: 510px;
		background-repeat: no-repeat;
		background-position: center bottom;
		position: relative;

		h1 {
			font-size: em(40);
			color: $black;
			width: 300px;
			margin: 0 auto;
			line-height: 1.15;
		}

		p {
			font-size: em(20);
			line-height: 1.5;
			margin: 20px 0 50px;
		}

		@include max-tablet {
			text-align: center;
		}

		@include min-tablet {
			background-image: url('../images/hero-tablet.jpg');
			height: 500px;
			background-position: -20px -90px;

			&--copy {
				position: absolute;
				left: 550px;
				width: 300px;
				top: 50%;
				transform: translate(-50%, -50%);

				h1,
				p {
					text-align: left;
				}

				h1 {
					font-size: em(50);
				}
			}
		}

		@include min-desktop {
			background-image: url('../images/hero-md.jpg');
			height: 520px;
			background-position: -50px -80px;

			&--copy {
				position: absolute;
				left: 70%;
				width: 400px;
				top: 50%;

				h1 {
					font-size: em(50);
					width: 120%;
				}
			}
		}

		@include min-large {
			background-image: url('../images/hero-lg.jpg');
			height: 620px;
			background-position: -30px -50px;

			&--copy {
				position: absolute;
				left: 60%;
				width: 420px;
				top: 50%;

				p {
					font-size: em(22);
				}

				h1 {
					font-size: em(60);
					width: 160%;
				}
			}
		}
	}

	&__mobile-break {
		display: inline-block;
	}

	&__cta {
		.btn {
			padding-top: 12px;
			padding-bottom: 12px;

			@include max-tablet {
				margin-top: 310px;
				width: 240px;
			}

			@include min-tablet {
				font-size: em(18);
			}

			@include min-desktop {
				font-size: em(19);
			}
		}
	}
}
