.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: $blue;
	margin: 0 auto;
	padding: 15px 30px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@include min-tablet {
		width: $tablet-width - 1;
		padding: 15px 60px;
	}

	@include min-desktop {
		width: $desktop-width - 1;
	}

	@include min-large {
		width: $large-width - 1;
		padding: 15px 140px;
	}

	&__logo {
		height: 45px;
		position: relative;

		svg {
			width: 200px;
			height: 30px;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;

			@include min-large {
				width: 250px;
			}
		}

		.stroke-color {
			fill: white;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		padding: 10px 0;

		li {
			a {
				text-decoration: none;
				font-weight: 400;
				color: white;

				&.active {
					color: $orange;
				}
			}
		}

		&--mobile {
			display: none;
			position: absolute;
			right: 0;
			top: 60px;
			background: $blue;
			text-align: right;
			width: 100%;
			padding-right: 30px;

			@include min-tablet {
				padding-right: 60px;
			}

			&.open {
				display: block;
			}

			li {
				padding: 6px 0;

				a:hover {
					border-bottom: 2px solid $orange;
				}
			}
		}

		&--medium {
			margin: 0;
			padding: 0;

			li {
				// display: inline-block;
				margin: 0;
				padding: 0 8px;

				a {
					font-size: em(14);
					padding-bottom: 3px;
					border-bottom: 2px solid transparent;

					@include min-large {
						font-size: em(16);
						font-weight: 600;
					}
				}
			}

			&.open {
				display: block;
			}

			li a:hover {
				border-bottom: 2px solid $orange;
			}

			li a.btn--nav:hover {
				border-bottom: 2px solid transparent;
			}
		}
	}

	&__item {
		&--l-pad {
			@include min-desktop {
				margin-left: 20px !important;
			}
		}
	}

	&__hamburger {
		width: 25px;
		height: 20px;
		margin-left: 10px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;

		@include min-desktop {
			display: none;
		}

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: white;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 7px;
			}

			&:nth-child(3) {
				top: 7px;
			}

			&:nth-child(4) {
				top: 14px;
			}
		}

		&.open {
			span {
				&:nth-child(1) {
					top: 7px;
					width: 0%;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 14px;
					width: 0%;
					left: 50%;
				}
			}
		}
	}

	@include clear-fix;
}
